@charset "utf-8";
/* CSS Document */
body {
	font-family: Verdana, Arial;
}

.content {
	width: 200px;
	height: 300px;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid black;
}
.error {
	width: 100%;
	height: 20px;
	background: red;
	color: white;
	margin-bottom: 10px;
}
.intranet_header {
	width: 900px;
	height: 30px;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid black;
}
.intranet_header_menu {
	float: left;
}
.intranet_header_links {
	float: right;
}
.intranet_content {
	width: 900px;
	height: 600px;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid black;
}
.intranet_section_title {
	text-align: center; 
	margin: 0px;
}

.intranet_section_table {
	width: 890px;
	background: #ffeca8;
	border: 1px solid black;
	padding: 5px;
}

.info_peli {
	font-size: 11px;
	color: #444;
}

